
header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: #161415 url(../images/header-background.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }

header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}


#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }


#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}


ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }

#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }


#about p {
   line-height: 30px;
   color: #7A7A7A;
   font-size: 1.4em;
}


.no-js .slides > li:first-child { display: block; }


.slides { zoom: 1; }
.slides > li {
   overflow: hidden;
}


.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -20px;
    text-align: left;
}
.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.flex-control-paging li a {
    width: 12px;
    height: 12px;
    display: block;
    background: #ddd;
    background: rgba(255, 255, 255, .3);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(255, 255, 255, .3);
}
.flex-control-paging li a:hover {
    background: #CCC;
    background: rgba(255, 255, 255, .7);
}
.flex-control-paging li a.flex-active {
    background: #fff;
    background: rgba(255, 255, 255, .9);
    cursor: default;
}


#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}

#go-top a:hover { 
  background-color: #0F9095; 
}

html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

body{
  margin:0
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
  display:block
}

audio,canvas,progress,video{
  display:inline-block;
  vertical-align:baseline
}

audio:not([controls]){
  display:none;height:0
  }[hidden],
  template{
    display:none
  }

a{
  background-color:transparent
}

a:active,a:hover{
  outline:0
}

abbr[title]{
  border-bottom:1px dotted
}

b,strong{
  font-weight:bold
}

dfn{
  font-style:italic
}


h1{
  font-size:2em;
  margin:0.67em 0
}

mark{
  background:#ff0;
  color:#000
}

small{
  font-size:80%
}

sub,sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

sup{
  top:-0.5em
}

sub{
  bottom:-0.25em
}

img{
  border:0
}

svg:not(:root){
  overflow:hidden
}

figure{
  margin:1em 40px
}

hr{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
  height:0
}

pre{
  overflow:auto
}

code,kbd,pre,samp{
  font-family:monospace, monospace;
  font-size:1em
}

button,input,optgroup,select,textarea{
  color:inherit;
  font:inherit;
  margin:0
}

button{
  overflow:visible
}

button,select{
  text-transform:none
}

button,html input[type="button"],input[type="reset"],input[type="submit"]{
  -webkit-appearance:button;
  cursor:pointer
}

button[disabled],html input[disabled]{
  cursor:default
}

button::-moz-focus-inner,input::-moz-focus-inner{
  border:0;
  padding:0
}

input{
  line-height:normal
}

input[type="checkbox"],input[type="radio"]{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  padding:0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
  height:auto
}

input[type="search"]{
  -webkit-appearance:textfield;
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none
}

fieldset{
  border:1px solid #c0c0c0;
  margin:0 2px;
  padding:0.35em 0.625em 0.75em
}

legend{
  border:0;
  padding:0
}

textarea{
  overflow:auto
}

optgroup{
  font-weight:bold
}

table{
  border-collapse:collapse;
  border-spacing:0
}

td,th{
  padding:0
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

*:before,*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}

html{
  font-size:10px;
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff
}

input,button,select,textarea{
  font-family:inherit;
  font-size:inherit;
  line-height:inherit
}

a{
  color:#337ab7;
  text-decoration:none
}

a:hover,a:focus{
  color:#23527c;
  text-decoration:underline
}

a:focus{
  outline:5px auto 
  -webkit-focus-ring-color;outline-offset:-2px
}

figure{
  margin:0
}

hr{
  margin-top:20px;
  margin-bottom:20px;
  border:0;
  border-top:1px solid #eee
}

.sr-only{
  position:absolute;
  width:1px;
  height:1px;
  margin:-1px;
  padding:0;
  overflow:hidden;
  clip:rect(0, 0, 0, 0);
  border:0
}

.sr-only-focusable:active,.sr-only-focusable:focus{
  position:static;
  width:auto;
  height:auto;
  margin:0;
  overflow:visible;
  clip:auto
}

[role="button"]{
  cursor:pointer
}

.container{
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px
}

@media (min-width:768px){
  .container{
    width:750px
  }
}
@media (min-width:992px){
  .container{
    width:950px
  }


@media (min-width:992px){
  .col-md-1, 
  .col-md-2, 
  .col-md-3, 
  .col-md-4, 
  .col-md-5, 
  .col-md-6, 
  .col-md-7, 
  .col-md-8, 
  .col-md-9, 
  .col-md-10, 
  .col-md-11, 
  .col-md-12{
    float:left
  }
  .col-md-12{
    width:100%
  }
  .col-md-11{
    width:91.66666667%
  }
  .col-md-10{
    width:83.33333333%
  }
  .col-md-9{
    width:75%
  }
  .col-md-8{
    width:66.66666667%
  }
  .col-md-7{
    width:58.33333333%
  }
  .col-md-6{
    width:50%
  }
  .col-md-5{
    width:41.66666667%
  }
  .col-md-4{
    width:33.33333333%
  }
  .col-md-3{
    width:25%
  }
  .col-md-2{
    width:16.66666667%
  }
  .col-md-1{
    width:8.33333333%
  }
  .col-md-pull-12{
    right:100%
  }
  .col-md-pull-11{
    right:91.66666667%
  }
  .col-md-pull-10{
    right:83.33333333%
  }
  .col-md-pull-9{
    right:75%
  }
  .col-md-pull-8{
    right:66.66666667%
  }
  .col-md-pull-7{
    right:58.33333333%
  }
  .col-md-pull-6{
    right:50%
  }
  .col-md-pull-5{
    right:41.66666667%
  }
  .col-md-pull-4{
    right:33.33333333%
  }
  .col-md-pull-3{
    right:25%
  }
  .col-md-pull-2{
    right:16.66666667%
  }
  .col-md-pull-1{
    right:8.33333333%
  }
  .col-md-pull-0{
    right:auto
  }
  .col-md-push-12{
    left:100%
  }
  .col-md-push-11{
    left:91.66666667%
  }
  .col-md-push-10{
    left:83.33333333%
  }
  .col-md-push-9{
    left:75%
  }
  .col-md-push-8{
    left:66.66666667%
  }
  .col-md-push-7{
    left:58.33333333%
  }
  .col-md-push-6{
    left:50%
  }
  .col-md-push-5{
    left:41.66666667%
  }
  .col-md-push-4{
    left:33.33333333%
  }
  .col-md-push-3{
    left:25%
  }
  .col-md-push-2{
    left:16.66666667%
  }
  .col-md-push-1{
    left:8.33333333%
  }
  .col-md-push-0{
    left:auto
  }
  .col-md-offset-12{
    margin-left:100%
  }
  .col-md-offset-11{
    margin-left:91.66666667%
  }
  .col-md-offset-10{
    margin-left:83.33333333%
  }
  .col-md-offset-9{
    margin-left:75%
  }
  .col-md-offset-8{
    margin-left:66.66666667%
  }
  .col-md-offset-7{
    margin-left:58.33333333%
  }
  .col-md-offset-6{
    margin-left:50%
  }
  .col-md-offset-5{
    margin-left:41.66666667%
  }
  .col-md-offset-4{
    margin-left:33.33333333%
  }
  .col-md-offset-3{
    margin-left:25%
  }
  .col-md-offset-2{
    margin-left:16.66666667%
  }
  .col-md-offset-1{
    margin-left:8.33333333%
  }
  .col-md-offset-0{
    margin-left:0
  }
}





